CLOSE ICON "..\\Image\\CLOSE.ico"
ABOUTMAIN RCDATA "..\\Image\\ABOUTMAIN.bmp"
MAINMENU ICON "..\\Image\\SUGAR.ico"
DUPLICATE RCDATA "..\\Image\\DUPLICATE.gif"
SELECT RCDATA "..\\Image\\SELECT.gif"
MULTIBUFFER RCDATA "..\\Image\\MULTIBUFFER.gif"
SETTING ICON "..\\Image\\SETTING.ico"
ABOUT ICON "..\\Image\\ABOUT.ico"
UPDATE ICON "..\\Image\\UPDATE.ico"
